
<div class="main">
  <h1>Producto</h1>
<form [formGroup]="angForm" novalidate>
  <div class="form-group">
      <label>Nombre:</label>
      <input class="form-control" formControlName="Nombre" type="text">
  </div>
  <div *ngIf="angForm.controls['Nombre'].invalid && (angForm.controls['Nombre'].dirty || angForm.controls['Nombre'].touched)" class="alert alert-danger">
      <div *ngIf="angForm.controls['Nombre'].errors.required">
        Cedula is required.
      </div>
  </div>
   <div class="form-group">
      <label>Categoria:</label>
      <input class="form-control" formControlName="Categoria" type="text">
  </div>
  <div *ngIf="angForm.controls['Categoria'].invalid && (angForm.controls['Categoria'].dirty || angForm.controls['Categoria'].touched)" class="alert alert-danger">
      <div *ngIf="angForm.controls['Categoria'].errors.required">
        Categoria is required.
      </div>
  </div>
  <div class="form-group">
    <label>Costo:</label>
    <input class="form-control" formControlName="Costo" type="number">
</div>
<div *ngIf="angForm.controls['Costo'].invalid && (angForm.controls['Costo'].dirty || angForm.controls['Costo'].touched)" class="alert alert-danger">
    <div *ngIf="angForm.controls['Costo'].errors.required">
      Costo is required.
    </div>
</div>
<div class="form-group">
  <label>Stock:</label>
  <input class="form-control" formControlName="Stock" type="number">
</div>
<div *ngIf="angForm.controls['Stock'].invalid && (angForm.controls['Stock'].dirty || angForm.controls['Stock'].touched)" class="alert alert-danger">
  <div *ngIf="angForm.controls['Stock'].errors.required">
    Stock is required.
  </div>
</div>
<div class="form-group">
  <label>Img:</label>
  <input class="form-control" formControlName="Img" type="text">
</div>
<div *ngIf="angForm.controls['Img'].invalid && (angForm.controls['Img'].dirty || angForm.controls['Img'].touched)" class="alert alert-danger">
  <div *ngIf="angForm.controls['Img'].errors.required">
    Img is required.
  </div>
</div>
<div class="form-group">
  <label>CntVentas:</label>
  <input class="form-control" formControlName="CntVentas" type="text">
</div>
<div *ngIf="angForm.controls['CntVentas'].invalid && (angForm.controls['CntVentas'].dirty || angForm.controls['CntVentas'].touched)" class="alert alert-danger">
  <div *ngIf="angForm.controls['CntVentas'].errors.required">
    CntVentas is required.
  </div>
</div>
  
  <button type="submit"
      [disabled]="angForm.pristine || angForm.invalid" (click)="createpro()" class="btn btn-success">
      Registrarse
  </button>
</form>
<br />
<p>Form value: {{ angForm.value | json }}</p>
<p>Form status: {{ angForm.status | json }}</p>
</div>