.producto{
    text-align: center;
    border: 2px solid rosybrown ;
    border-radius: 12px;
    background-color: rgb(192, 189, 189);
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    min-width: 300px;
}
.productos{
    padding: 10px;
    display: inline-flex ;
    grid-template-columns: 300px 300px ;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
}

.producto:hover{
    border: 3px solid rosybrown ;
    color: rgb(56, 55, 55);
    box-shadow: 2px 2px 3px rosybrown;

}
.producto h3{
    font-weight: bolder;
}
.precio{
    color: rgb(2, 109, 2)
}
.info{
    color: red
}