<!--The content below is only a placeholder and can be replaced.-->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<body>

<img width="100%" height="300px" alt="Angular Logo" src="../assets/img/banner1.jpg">
<div style="text-align:center">
  <nav>
    <a routerLink="/producto" > Productos</a>
    <a routerLink="/pedidos" routerLinkActive=""> Pedidos</a>
    <a routerLink="/form" routerLinkActive=""> Contactanos</a>
    <a routerLink="/login" routerLinkActive=""> Iniciar Sesion</a>
    <a routerLink="/signup" routerLinkActive=""> Registrate</a>

  </nav>
  
</div>


</body>
<router-outlet></router-outlet>
