<h1>
  Welcome Back, Admin {{name}}!
</h1>
<h2>Estadisticas</h2>
<app-bar></app-bar>
<app-pie></app-pie>
<app-scatter></app-scatter>
<h2>Reportes</h2>
<h2>Productos</h2>
<button (click)="nuevo()">Nuevo Producto</button>
<div class="main">
<div class="productos" *ngFor="let producto of productos">
  
  <div class="producto">
    <img width="90px" height="100px" src="{{producto.Img}}" alt="">
    <h3>{{producto.Nombre}}</h3>
    <p>{{producto.Categoria}}</p>
    <p>{{producto.Costo}}</p>
    <p>{{producto.Stock}}</p>
    <button> Editar</button>
    <button (click)="deleteproduct(producto.id)"> Eliminar</button>  
  </div>
</div>
</div>