<h1>
  Welcome Back, Admin!
</h1>
<h2>Estadisticas</h2>
<app-bar></app-bar>
<app-pie></app-pie>
<app-scatter></app-scatter>
<h2>Reportes</h2>
<h2>Productos</h2>
<div class="productos" *ngFor="let producto of productos">
  
  <div class="producto">
    <img width="90px" height="100px" src={{prodcuto.Img}} alt="">
    <h3>{{producto.Nombre}}</h3>
    <p>{{producto.Categoria}}</p>
    <p>{{producto.Costo}}</p>
    <p>{{producto.Stock}}</p>
    <a routerLink="/signup" routerLinkActive=""> Registrate</a>>
  </div>